<div class='outersplash'>
    <div class='splash'>
        <h2 id='blogName'>{{blogName}}</h2>
        <h1 id='title0'>{{title}}</h1>
    </div>
</div>

<div class='field'>
    <h3 id='title1'>{{title}}</h3>
    <h4 id='title2'>{{title}}</h4>

    <img src='{{imagePath}}' alt='' id='picture' />
    <div id='content' class='text'>{{{content}}}</div>
    <br /><br /><br />
</div>